# all ignore #
/*
/.**

# not ignore #

## zsh
!/.zshrc

## IntelliJ IDEA
!/.ideavimrc

## Homebrew
!/Brewfile

## git
!/.github/
!/.github/**
!/.commit_template
!/.gitconfig
!/.gitignore
!/LICENSE
!/README.md
