# all ignore #
/*
/.**

# not ignore #

## config
!/.config/
!/.config/**

## zsh
!/.zshrc

## git
!/.github/
!/.github/**
!/.gitconfig
!/.gitignore
!/.gitignore_global
!/LICENSE
!/README.md

!/.czrc
!/package.json
!/yarn.lock
